{
  "baseTimeToRot" : 10800,
  "rottedItem" : "rottenfood",

  "rotTimeDescriptions" : [
    [300, "^red;Practically done^reset;"],
    [1800, "^orange;Close to finished^reset;"],
    [3600, "^yellow;Half way finished^reset;"],
    [10800, "^green;Still barely fermented^reset;"],
    [999999, "^green;Just started fermenting^reset;"]
  ]
}
